@model WebApplication1.Entity.Empresa
@{
    ViewData["Title"] = "Index";
}

<h2></h2>


<button class="btn btn-primary">
    @Html.ActionLink("Cadastrar Empresa", "CadastroEmpresa", "Empresa", htmlAttributes: new { Style = "color:White" })
</button>